<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<style>
    .text {
        position:fixed;
        left: 550px;
        top:150px;
    }

    .text textarea {
        height:150px;
        width:200%;

    }
</style>
</head>
<body>

<div class="text">
    <form action="/BatchRegister/" method="post">
    <h4><p>请输入用户名和密码</p></h4>
    <textarea name="BatchR"></textarea>
    <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

</body>
</html>