<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
            <link href="{{static_url("css/all.css")}}" rel="stylesheet" type="text/css"/>
            <script type="text/javascript" src="{{static_url('js/jquery.min.js')}}"></script>
            <script type="text/javascript" src="{{static_url('js/bootstrap.min.js')}}"></script>
            <link href="{{static_url('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
</head>



<body>

{#<div class="btn-group" style="z-index: 100000">#}
{#	<button type="button" class="btn btn-default dropdown-toggle"#}
{#			data-toggle="dropdown">#}
{#		默认 <span class="caret"></span>#}
{#	</button>#}
{#	<ul class="dropdown-menu" role="menu">#}
{#		<li><a href="#">功能</a></li>#}
{#		<li><a href="#">另一个功能</a></li>#}
{#		<li><a href="#">其他</a></li>#}
{#		<li class="divider"></li>#}
{#		<li><a href="#">分离的链接</a></li>#}
{#	</ul>#}
{#</div>#}




<div id="wrapper">
    <div id="head">
        <div id='top1'><span class='l'>上海询诺 Docker 管理系统</span></div>
        <div id='nav'>
            <ul>
                <li class="r">您好：{{name["username"]}} | <a href='/logout'> 退出</a></li>
            </ul>
        </div>
    </div>
    {% block div %}
    {% end %}
</div>
</body>

<script>
$('.dropdown').dropdown()
    $().dropdown('toggle')
</script>
</html>