<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
<head>
    <script type="text/javascript" src="{{static_url('js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/bootstrap.min.js')}}"></script>

    <script type="text/javascript" src="{{static_url('js/layer.js')}}"></script>

    <script src="{{  static_url('highstock/code/highstock.js') }}"></script>
    <script src="{{  static_url('highstock/code/css/js/modules/exporting.js') }}"></script>


    <link href="{{static_url('css/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">


</head>

<body>
    {% block div %}
    {% end %}
</body>
</html>