

.left-content-panel{
    border:2px solid crimson;
}

.right-sidebar{
    border:2px solid black;
}

.articles-head-img img{
    height:125px;
    width:220px;
}

.articles-summary{
    margin-left:35px;
}

.articles-box {
    margin-bottom: 25px;
}

.comment-node{
    border: 2px dashed #00ff00;
    border-top: 0px;
    margin-bottom: 10px;
}